
    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src="/me.png" alt="Zumrad" />
            <div class="profile-content pull-left">
                <h1 class="name">Зумрад Мухаметалим уулу</h1>
                <h2 class="desc">Веб - разработчик</h2>   
                <ul class="social list-inline">
                    <li><a href="https://twitter.com/knoWOu"><i class="fa fa-twitter"></i></a></li>                   
                    <li><a href="https://plus.google.com/u/0/114690850578994241280"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://github.com/tursunbaevz"><i class="fa fa-github-alt"></i></a></li>                 
                </ul> 
                <br>
                    <h4> Хотите сайт или простую бизнес программу  ?  Тогда вы  в надежных руках!
                    </h4>
                    

                                   
                <br>
                <p>Вы можете ознакомится с моими работами на этом сайте или пройдя по ссылке  <a href="https://github.com/tursunbaevz">github.com</a></i></p>

            </div><!--//profile-->

            <a class="btn btn-cta-primary pull-right" href="<%= new_contact_path %>" target="_blank"><i class="fa fa-paper-plane"></i> написать </a> 

        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">О себе</h2>
                        <div class="content">
        
                        <p> Добро пожаловать! Меня зовут Зумрад и я Веб программист. </p>
                         

                        <p> Для начала я бы хотел рассказать о себе,
                         живу  в небольшом городке под названием Ош, переехали мы с семьей не так давно. 
                       Очень вкусные блюда и свежий воздух - вот, что мне понравилось больше всего в этом городе. 
                        Свой тернистый путь я начал не так давно,  окунувшись в мир IT, я увидел профессию своей мечты, где все становится возможным, ведь будущее за ним! 
                        Конечно, еще потрубуется много усилий, терпения и упорства,  чтобы достичь высоких результатов,    </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
    
               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Портфолио</h2>
                        <div class="content">    
                                               
                            <div class="item featured text-center">
                                <p class="summary"></p>
                                <div class="featured-image">
                            <% Project.all.each do |project| %>              
                                <div class="hover">
                                    <img class="img-responsive project-image" src="<%= project.image.url(:medium) if project.image? %>" alt="img" />
                                    <div class="desc text-left">                                    
                                        <h3 class="title"><%= project.name %></a></h3>
                                        <p class="project-content"> <%= raw project.content %> </p>
                                    </div>
                                    <hr class="hr-content">
                                </div>   
                            <% end %> 

                                <div class="ribbon">
                                    <div class="text">New</div>
                                    </div>
                                </div>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                
                
               <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Опыт работы </h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Co-Founder & Lead Developer - <span class="place"><a href="#">Startup Hub</a></span> <span class="year">(2014 - Present)</span></h3>
                                <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
                            </div><!--//item-->                
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                <section class="github section">
                    <div class="section-inner">
                        <h2 class="heading">Мой GitHub</h2>
                        
                        <div id="github-graph" class="github-graph">

                        </div><!--//github-graph-->
      
                        <!--//Usage: http://caseyscarborough.com/projects/github-activity/ -->  
                        <!-- <div id="feed"></div>
                        <script>
                            GitHubActivity.feed({ username: "tursunbaevz", selector: "#feed" });
                        </script> -->
                        <!-- <div id="ghfeed" class="ghfeed"> -->
                                        <!-- Prepare a container for your calendar. -->
                            <script
                              src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js">
                            </script>
    
                            <!-- Optionally, include the theme (if you don't want to struggleto write the CSS) -->
                            <!-- Prepare a container for your calendar. -->
                           

                        <!-- </div>//ghfeed -->
                        
                    </div><!--//secton-inner-->
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Информация</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Бишкек - Ош, Кыргызстан</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="http://gmail.com">zuma9405@gmail.com</a></li>
                                <li><i class="fa fa-phone"></i><span class="sr-only">Number:</span>+996 706 45 - 94 - 45</li>
                                <!-- <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">https://www.website.com</a></li> -->
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Навыки</h2>
                        <div class="content">
                            <p class="intro">
                                
                            </p>
                            
                            <div class="skillset">
                                <div class="item">
                                    <h3 class="level-title">Javascript &amp; jQuery 
                                    <br>
                                    <span class="level-label">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="40%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">HTML5, CSS3, SASS &amp; Bootstrap 
                                    
                                    <span class="level-label">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="70%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Ruby on Rails
                                    <br>
                                    <span class="level-label">Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="60%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                <aside class="testimonials aside section">
                    <div class="section-inner">
                        <h2 class="heading">Отзывы</h2>
                        <div class="content">
                            <div class="item">
                                <blockquote class="quote">                                  
                                    <p><i class="fa fa-quote-left"></i>TODO</p>
                                </blockquote>                
                                <p class="source"><span class="name"></span><br /><span class="title"></span></p>                                                             
                            </div><!--//item-->
                            
                            <!-- <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on Linkedin</a></p>  -->
                            
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Образование</h2>
                        <div class="content">
                            <div class="item">                      
                                <h3 class="title"><i class="fa fa-graduation-cap"></i>Международный Университет Кыргызстана</h3>
                                <h4 class="university">Межкультурная Коммуникация  <span class="year">(2011-2016)</span></h4>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> Web developer </h3>
                                <h4 class="university"> IT-attractor plus <span class="year">(2016-2017)</span></h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                            
                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Языки</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>English:</strong></span>
                                    <span class="level"> Свободный <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>  </span>
                                </li><!--//item-->
                                <li class="item">
                                    <span class="title"><strong>Кыргызский:</strong></span>
                                    <span class="level"> родной <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    </span>  
                                </li><!--//item-->

                                <li class="item">
                                    <span class="title"><strong>Русский:</strong></span>
                                    <span class="level"> свободный  <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                                </li><!--//item-->
                           
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

               
                
                <!-- <aside class="list conferences aside section">
                    <div class="section-inner">
                        <h2 class="heading">Conferences</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-calendar"></i> <a href="https://developer.apple.com/wwdc/" target="_blank">WWDC 2014</a> (San Francisco)</li>
                                <li><i class="fa fa-calendar"></i> <a href="http://hive.aigaseattle.org/">Hive</a> (Seattle)</li>
                            </ul> -->
                       <!--  </div> --><!--//content-->
                    <!-- </div> --><!--//section-inner-->
                <!-- </aside> --><!--//section-->
                
               
              
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
                <small class="copyright"> 2017 <i class="fa fa-heart"></i></a></small>

        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="/assets/bootstrap.min.js"></script>    
    <script type="text/javascript" src="/assets/jquery.rss.min.js"></script> 
    <!-- github calendar plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.10.1/fetch.min.js"></script>
   
    <!-- github activity plugin -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>    
     <!-- <script type="text/javascript" src="github-activity.min.js"></script> -->
    <!-- custom js -->
      
    <script type="text/javascript" src="/assets/main.js"></script>           


