

<div class="skinny_wrapper wrapper_padding">
	<h1> Thank you for your message!</h1>

	<div class="form_text"></div>
	<h3>I'll get back to you soon.</h3>

	<%= link_to "Back to main page", root_path, class: "btn btn-success"  %>
</div>
