

<div class="skinny_wrapper wrapper_padding">
	<h1> Thank you for your message!</h1>

	<h3>I'll get back to you soon.</h3>
	
	<div class="buttun-back-to-page">
		<%= link_to "Back to main page", root_path, class: "btn btn-success"  %>
	</div>


</div>
