<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin Panel</title>
		<%= csrf_meta_tags %>

	    <%= stylesheet_link_tag    'admin/admin', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
	    <nav class="navbar navbar-default navbar">
		    <div class="container-fluid">
		        <div class="navbar-header">
				    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			        </button>
		        </div>
		    </div>
		</nav> 
  
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>