<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404 page not found</title>
	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
</head>
	<body>
		<h1 class="error-number"> 404 </h1>	
		<h3 class="error-message"> Page not found! </h3>
		<h3 class="error">error</h3>

	</body>
</html>

<style>
	body {
	background-image: url("404-page.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100% ;
	}	
	html {
	    height: 100%
	}

	h1,
	h3 {
		font-family: 'Luckiest Guy', cursive;
	}

	.error-message {
		font-size: 50px;
		margin-left: 580px;
		position: absolute;



	}

	.error-number {
		font-size: 200px;
		padding-left: 300px;
	}

	.error {
		text-align: center;
		margin-top: -100px;
		font-size: 100px;
	}

	


</style>